.chat-button-container {
  position: relative;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .chat-button {
  width: 120px;
  height: 120px;
  background-color: #A62523;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.1s;
  padding: 10px;
} */

.chat-button:hover {
  /* background-color: #A62523; */
  transform: scale(1.05);
}

.chat-button:active {
  transform: scale(0.98);
}

/* .chat-button-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
} */

